body{
	background-image: url("../img/bj/yangg1.jpg");
	background-repeat:no-repeat;
      background-size:cover;-moz-background-size:cover;
      -webkit-background-size:cover;
} 

 
#TW{
	position: absolute;
	
	left: 37%;
}
#xx{
	position: absolute;
	top:10%;
	left: 70%;
}
#cs{
	font-size: 90px;

}
#xzsj{
	font-size:35px;
}
#TW{
	position: absolute;
	
	left: 37%;
}
#j{
	font-size: 45px;
	color:#fff;
	position: absolute;
	top:35%;
	left: 10%;
}

#m{
	font-size: 30px;
	position: absolute;
	top:50%;
	left: 45%;
	color:#fff;
}
#h{
	font-size: 30px;
	position: absolute;
	top:50%;
	left: 70%;
	color:#fff;
}

#gx{
	position: absolute;
	top:70%;
	left: 80%;
	font-size: 14px;
}






