
body {
      
      background-image:url('../img/bj/xingk7.jpeg') ;
      background-attachment:fixed;
      background-repeat:no-repeat;
      background-size:cover;-moz-background-size:cover;
      -webkit-background-size:cover;
      
      
    }
    
    
    
    
    canvas {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
    }
  
#tqyb{
	color: #fff;
}   
#xx{
	position: absolute;
	top:10%;
	left: 70%;
}
#cs{
	font-size: 90px;
}
#xzsj{
	font-size:35px;
}
#TW{
	position: absolute;
	
	left: 37%;
}
#j{
	font-size: 40px;
	position: absolute;
	top:40%;
	left: 10%;
}
#m{
	font-size: 30px;
	position: absolute;
	top:55%;
	left: 45%;
}
#h{
	font-size: 30px;
	position: absolute;
	top:55%;
	left: 70%;
}

#gx{
	position: absolute;
	top:76%;
	left: 80%;
	font-size: 14px;
}

